<h2>Movie List</h2>
<div>
{{#each response}}
<h3><a href="/movies/{{id}}">{{title}}</a></h3>
<p>Genre: {{genre}}</p>
<p>Plot {{plot}}</p>
<p>Cast {{cast}}</p>
<a href="/movies/{{id}}/edit">Edit</a>
<form action="/movies/{{id}}/delete" method="POST">
    <button>Delete</button>
</form>
{{/each}}
</div>